.cart-page {
    background-color: #efefef;
    h2 {
        width: 1440px;
        display: block;
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
    }
  .main {
    width: 1440px;
    display: block;
    margin: auto;
    background-color: white;
    .container {
      .empty-cart {
        border: solid 1px black;

        .cart-image {
          display: block;
          margin: auto;
        }

        p {
            
            text-align: center;
        }

        a {
            text-decoration: none;
            border-radius: 10px;
        }
        .btn-back {
            display: block;
            margin: auto;
            
        }
      }
    }
  }
}
