input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.homepage {
  
  .main {
    background-color: #efefef;
    display: block;
    margin: auto;
    width: 1440px;

    .side-bar {
      .price {
        .fast-price-filter {
            .item {
                background-color: red;
            }
        }
      }
    }

    .content {
      .books {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        .ant-divider {
          position: relative;
          bottom: 30px;
        }
      }
    }
  }
}
.book-cell {
  border: 1px solid black;
  color: red;
}
