input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.homepage {
  .main {
    background-color: #efefef;
    display: block;
    margin: auto;
    width: 1440px;

    .side-bar {
      .price {
        .fast-price-filter {
          .item {
            background-color: red;
          }
        }
      }
    }

    .content {
      .books {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        .book-cell:hover {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          background-color: red;
        }
      }
    }
  }
}
