.header-container {
  background-color: white;
  .page-header {
    display: flex;
    height: 55px;
    color: #808089;
    width: 100%;
    max-width: 1440px;
    line-height: 55px;
    margin: auto;

    &__top {
      display: flex;
      width: 70%;
      padding: 0 16px;
    }

    .page-header__top {
      .page-header__logo {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 10px;
      }
    }

    .logo {
      margin: 0 20px 0 20px;
      // padding: 0 30px 0 30px;
      display: flex;
      flex-direction: row;

      a {
        text-decoration: none;
        color: #0b74e5;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
      }
    }

    // input[type="search"] {
    //   width: 100%;
    //   //   max-width: 700px;
    //   padding: 12px 20px;
    //   margin: 10px 0;
    //   font-size: 14px;
    //   box-sizing: border-box;
    //   line-height: 15px;
    // }

    // input[type="search"]:focus {
    //   outline: none;
    // }

    .input-search {
      height: 30px;
      outline: none;
      padding: 5px 30px;
      border-radius: 5px;
      border: 1px solid grey;
      flex: 1;
    }
  }

  .navigation {
    .cart-icon {
      font-size: 20px;
      top: 5px;
      position: relative;
      cursor: pointer;
    }
    .dropdown {
      margin-left: 35px;
    }
  }
}
