$font-family: "Montserrat", sans-serif;

body {
  margin: 0;
}

.footer {
  margin-top: 25px;
  background-color: white;
  .content {
    width: 1440px;
    display: flex;
    flex-direction: row;
    margin: auto;
    .brand-description {
      p {
        width: 80%;
      }
      .logo {
        img {
          width: 40px;
        }
        p {
          width: fit-content;
          font-style: italic;
          font-size: 18px;
        }
      }
    }
    .info {
      h5 {
        font-family: $font-family;
        font-size: 18px;
        margin-top: 20px;
      }
      .icon {
        font-size: 18px;
      }
      p {
        position: relative;
        bottom: 15px;
        left: 10px;
      }
    }
  }
}
